model.onnx
requirements.txt
pretrained_model.pth
res.txt
res2.txt
run.sh
wandb
10_SGD
cifar-10-python.tar.gz
cifar-100-python.tar.gz
data/
cifar-10-batches-py/
cifar-100-python/
src/__pycache__
src/.data
results/
prototype.pickle
try.ipynb
.python-version
.data
.mypy_cache
.vscode
*.png
